.mapboxgl-popup-content {
  background: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  padding: 25px;
}

.mapboxgl-popup-content p.help-text {
  background: rgba(221, 221, 221, 0.9);
  border-left: 5px solid rgb(3, 219, 252);
  color: #555;
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
}

.mapboxgl-popup-content .coordinate {
  padding-top: 15px;
}

.mapboxgl-popup-content .coordinate .coordinate-label {
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
}

.mapboxgl-popup-content section:not(:last-child) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.mapboxgl-popup-content section h1 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #555;
}

.mapboxgl-popup-content section h1:first-of-type {
  margin-top: 0;
}

.editable-label-container {
  margin-bottom: 10px;
  margin-top: 10px;
}

.editable-label-input {
  background: inherit;
  border: 0;
  font-size: inherit;
}

section.weather .weather-container {
  display: flex;
  align-items: center;
}

section.weather .last-updated {
  font-size: 12px;
  margin-top: 10px;
  color: #555;
}

section.weather .weather-icon {
  background: rgb(3, 219, 252);
  border-radius: 50px;
  margin-right: 20px;
  height: 50px;
}

section.weather .temperature {
  font-size: 20px;
}
